body {
  background-color: #1c242d;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #242f39;
  opacity: 0;
  z-index: 2;
  display: none;
}
.menu {
  display: block;
  padding-top: 20px;
}
.div-points {
  padding-left: 10%;
  padding-top: 200px;
  font-family: arial black;
  font-size: 50px;
  color: white;
}
#sp {
  background-color: white;
  width: 200px;
  height: 10px;
  margin-top: 20px;
  display: block;
}
#fp {
  background-color: white;
  width: 200px;
  height: 10px;
  margin-top: 80px;
  display: block;
  margin-bottom: 10px;
}
#lore {
  cursor: pointer;
  display: none;
  color: undefined;
  margin-top: 20px;
}
#skills {
  cursor: pointer;
  display: none;
  color: undefined;
}
#more {
  cursor: pointer;
  display: none;
  color: undefined;

}
#lore:hover {color: #ed3931;}
#skills:hover {color: #ed3931;}
#more:hover {color: #ed3931;}
#pidge {
  height: 92.4px;
  width: 76.2px;
  padding-left: 16.5px;
  padding-top: 10px;
}
#circle-pidge {
  height: 110px;
  width: 110px;
  left: 25px;
  top: 30px;
  position: fixed;
  z-index: 23;
  border-radius: 70px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  display: none;
  box-shadow: 0 0 5px white;
}
#divlore {
  display: none;
}
#pidge1 {
  height: 92.4px;
  width: 76.2px;
  padding-left: 16.5px;
  padding-top: 10px;
}
#circle-pidge1 {
  height: 110px;
  width: 110px;
  left: 25px;
  top: 30px;
  position: fixed;
  z-index: 3;
  border-radius: 70px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  box-shadow: 0 0 5px white;
}
#link{
  display: inline-block;
  z-index: 1;
}
#block {
  height: 110px;
  width: 110px;
  left: 25px;
  top: 260px;
  margin-top: 40px;
  position: fixed;
  z-index: 1;
  border-radius: 70px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  box-shadow: 0 0 5px white;
}
#vk {
  height: 47.5px;
  width: 80px;
  padding-top: 35px;
  padding-left: 12.5px;
}
#link1{
  display: inline-block;
  z-index: 1;
}
#block1 {
  height: 110px;
  width: 110px;
  left: 25px;
  top: 410px;
  margin-top: 40px;
  position: fixed;
  z-index: 1;
  border-radius: 70px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  box-shadow: 0 0 5px white;
}
#inst {
  height: 75px;
  width: 75px;
  padding-top: 18px;
  padding-left: 18px;
}
#link2{
  display: inline-block;
  z-index: 1;
}
#block2 {
  height: 110px;
  width: 110px;
  left: 25px;
  top: 560px;
  margin-top: 40px;
  position: fixed;
  z-index: 1;
  border-radius: 70px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  box-shadow: 0 0 5px white;
}
#tt {
  height: 75.3px;
  width: 65.7px;
  padding-top: 18px;
  padding-left: 20px;
  z-index: 2;
}
#pidgik {
  height: 550px;
  width: 700px;
  position: fixed;
  top: 210px;
  left: 400px;
  display: block;
}
#item {
  height: 90px;
  width: 130px;
  position: fixed;
  top: 180px;
  left: 680px;
  border: 2px solid white;
  display: none;
}
#rune {
  position: fixed;
  width: 170px;
  height: 240px;
  top: 520px;
  left: 1200px;
  display: block;
}
#score {
  position: fixed;
  top: 10px;
  left: 1100px;
  display: block;
  font-family: arial black;
  color: white;
  font-size: 50px;
  display: block;
}
#divskills {
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  margin-left: 200px;
}
#dopinf {
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  margin-left: 200px;
}
#warning {
  display: block;
  position: fixed;
  top: 130px;
  left: 600px;
  border: 2px solid white;
  border-radius: 20px;
  width: 512px; 
  height: 298px;
}
.warning {
  color: white;
  font-family: arial black;
  font-size: 30px;
  text-align: center;

}
#gifhook {
  display: none;
  position: fixed;
  top: 130px;
  left: 600px;
  border: 2px solid white;
  border-radius: 20px;
}
#hook {
  display: inline-block;
  position: fixed;
  top: 480px;
  left: 200px;
  color: white;
  font-family: arial black;
  font-size: 18px;
  margin-left: 135px;
  width: 130;
}

#name-hook{
  padding-left: 3px;
}
#img-hook {
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
#gifrot {
  display: none;
  position: fixed;
  top: 130px;
  left: 600px;
  border: 2px solid white;
  border-radius: 20px;
}
#rot {
  display: inline-block;
  position: fixed;
  top: 500px;
  left: 200px;
  color: white;
  font-family: arial black;
  font-size: 18px;
  margin-left: 443px;
  width: 130;
}
#name-rot{
  padding-left: 45px;
}
#img-rot {
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
#gifflesh {
  display: none;
  position: fixed;
  top: 130px;
  left: 600px;
  border: 2px solid white;
  border-radius: 20px;
}
#flesh {
  display: inline-block;
  position: fixed;
  top: 500px;
  left: 200px;
  color: white;
  font-family: arial black;
  font-size: 18px;
  margin-left: 752px;
  width: 140;
}

#name-flesh{
  padding-left: 5px;
}
#img-flesh {
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
#gifdismember {
  display: none;
  position: fixed;
  top: 130px;
  left: 600px;
  border: 2px solid white;
  border-radius: 20px;
}
#dismember {
  display: inline-block;
  position: fixed;
  top: 480px;
  left: 200px;
  color: white;
  font-family: arial black;
  font-size: 18px;
  margin-left: 1059px;
  width: 130;
}

#name-dismember{
  padding-left: 5px;
}
#img-dismember {
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
#text-hook-left {
  display: block;
  position: fixed;
  top: 110px;
  left: 295px;
  border: 2px solid white;
  border-radius: 20px;
  width: 250px; 
  height: 298px;
  background-color:#242f39;
}
#text-hook-right1 {
  color: white;
  font-family: arial black;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
#text-hook-right2 {
  color: white;
  font-family: arial black;
  font-size: 10px;
  text-align: left;
  padding-left: 25px;
  width: 238px;
  height: 205px;
  padding-top: 10px;
}
#text-hook-right {
  display: block;
  position: fixed;
  top: 110px;
  left: 1165px;
  border: 2px solid white;
  border-radius: 20px;
  width: 280px; 
  height: 298px;
  background-color: #242f39;
}
#text-hook-left1 {
  color: white;
  font-family: arial black;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
#text-hook-left2 {
  color: white;
  font-family: arial black;
  font-size: 10px;
  text-align: left;
  width: 262px;
  height: 205px;
  padding-top: 20px;
  padding-left: 25px;
}
#texthook {
  display: none;
}
#textrot {
  display: none;
}
#textflesh {
  display: none;
}
#textdismember {
  display: none;
}

.is_overlay{ display: block; width: 100%; height: 100%; }
#trailer {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: 0;
}

#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  z-index: 0;
}
#bp {
  position: fixed;
  z-index: 1;
  margin-top: -135px;
  margin-left: -20px;
}
#pp {
  position: fixed;
  z-index: 1;
  margin-left: -300px;
}
.wrapper{
  width: 250px;
  height: 320px;    
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 20px;
  z-index: 2;
  background-color: #242f39;
  left: 1220px;
  top: 230px;
  font-family: arial black;
  color: white;

}
.content{
  position: absolute;
  top: 0;
  left: 0;
  right: -30px;  
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  height: 100%;  
  overflow: hidden;
  overflow-y: scroll; 
  z-index: 2;
}
html { 
  overflow:  hidden;
}

#pvideotext {
  text-align: center;
}
#videotext {
  text-align: center;
  font-size: 40px;
}
#videotext1 {
  text-align: center;
  font-size: 20px;
}
.infdivinf{
  width: 100%;
  height: 100%;    
  position: relative;
  overflow: hidden;
  z-index: 2;
  font-family: arial black;
  color: white;
  overflow-y: scroll; 
  box-sizing: border-box;
}

#aboutvoice {
  display: inline-block;
  height: 550px;
  width: 1000px;
  position: fixed;
  left: 35%;
  top: 125px;
}

#john {
  margin-left: 400px;
  border-radius: 20px;
  border: 3px solid rgb(55, 169, 65);
  display: inline-block;
}

#textjohn {
  width: 400px;
  height: 500px;
  position: absolute;
  margin-top: -10px;
  margin-left: -100px;
  display: inline-block;
}

#titlevoice {
  text-align: center;
  font-size: 35px;
  color: rgb(55, 169, 65);
}

#johnname {
  color: rgb(55, 169, 65);
}
#headofhero{
  height: 20px;
  width: 20px;
}
#textaboutvoice {
  font-size: 18px;
}
#beforestrelka {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  margin-left: 400px;
  top: 625px;
}
#nextstrelka {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: 70px;
  top: 625px;
  position: relative;
}
#nextstrelka:hover {cursor: pointer;}
#beforestrelka:hover {cursor: pointer;}


#aboutdendi {
  display: inline-block;
  height: 550px;
  width: 1000px;
  position: fixed;
  left: 35%;
  top: 125px;
  display: none;
}

#textdendi {
  width: 400px;
  height: 500px;
  position: absolute;
  margin-top: -10px;
  margin-left: -100px;
  display: inline-block;
}

#titledendi {
  text-align: center;
  font-size: 35px;
  color: rgb(55, 169, 65);
}

#textaboutdendi {
  font-size: 19x;
  color: rgb(255, 255, 255);
}

#dendi {
  margin-left: 400px;
  border-radius: 20px;
  border: 3px solid rgb(55, 169, 65);
  display: inline-block;
}
#yellow {
  color:yellow; 
}
#blue {
  color: rgb(0, 128, 255);
}

#aboutdh {
  display: inline-block;
  height: 550px;
  width: 1000px;
  position: fixed;
  left: 35%;
  top: 125px;
  display: none;
}
#aboutpudges {
  display: inline-block;
  height: 550px;
  width: 1000px;
  position: fixed;
  left: 35%;
  top: 125px;
  display: none;
}
#aboutpopular {
  display: inline-block;
  height: 550px;
  width: 1000px;
  position: fixed;
  left: 35%;
  top: 125px;
  display: none;
}
